aiogram==3.10.0
aiocryptopay==1.4
requests==2.31.0
fake-useragent==1.5.0
aiohttp==3.9.5
asyncio==3.4.3
python-dotenv==1.0.0
urllib3==2.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
multidict==6.0.5
yarl==1.9.4
